* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif;
  color: white; }

.titulo {
  font-size: 8vh; }

.subtitulo {
  font-size: 4vh; }

.texto {
  font-size: 2vh; }

.displayFlex {
  display: flex; }

.centerFlex {
  justify-content: center; }

.centerGrid {
  text-align: center; }

/*--Iniciando la Gridd--*/
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: block; }

.templateRow, .row:before, .row:after {
  content: " ";
  display: table;
  width: 100%; }

.row:after {
  clear: both; }

[class*="col-"] {
  min-height: 7px;
  padding: 12px;
  float: left; }

[class*="offset-"] {
  min-height: 7px;
  float: left; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

/*Finaliza la gridd*/
/*Funcion para offset*/
.offset-1 {
  margin-left: 8.33333%; }

.offset-2 {
  margin-left: 16.66667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33333%; }

.offset-5 {
  margin-left: 41.66667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33333%; }

.offset-8 {
  margin-left: 66.66667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33333%; }

.offset-11 {
  margin-left: 91.66667%; }

.offset-12 {
  margin-left: 100%; }

/*fin de la funcion offset*/
/*----Inicio Variables Colores----*/
/*----Fin Variables Colores----*/


/*----Inicio Estilos Mone----*/
.aboutUs {
  background: #2c3e50;
  padding: 10% 0; }
  .aboutUs__divContendorDirecto {
    padding: 2%; }
    .aboutUs__divContendorDirecto--img {
      height: 100%;
      width: 100%; }
    .aboutUs__divContendorDirecto--linea {
      border-bottom: solid 1px white;
      padding: 3% 4%; }

.contenedor3barras {
  width: 100%;
  padding-top: 4%; }
  .contenedor3barras__barraLarga {
    padding: 0;
    border: solid 1px white;
    background: white; }
    .contenedor3barras__barraLarga__barraPorcentaje {
      background: orange; }
      .contenedor3barras__barraLarga__barraPorcentaje--porcentajeHTML {
        width: 90%; }
      .contenedor3barras__barraLarga__barraPorcentaje--porcentajeCSS {
        width: 80%; }
      .contenedor3barras__barraLarga__barraPorcentaje--porcentajeJAVASCRIPT {
        width: 50%; }
      .contenedor3barras__barraLarga__barraPorcentaje--porcentajePHP {
        width: 60%; }
      .contenedor3barras__barraLarga__barraPorcentaje--porcentajePHOTOSHOP {
        width: 70%; }
/*----Fin Estilos Mone----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }


body {
  font-family: 'Raleway', sans-serif;
  color: white; }

.titulo {
  font-size: 8vh; }

.subtitulo {
  font-size: 4vh; }

.texto {
  font-size: 2vh; }

/*aqui empieza seccion Silvana*/
.seccion1 {
  background-image: url(../img/carousel-bg.jpg);
  background-position: center;
  background-repeat: no-repeat; }

.seccion7 {
  background-image: url(../img/img-divider-img.jpg);
  background-position: bottom; }


/*aqui termina seccion Silvana*/


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.prices {
  background-color: #2c3e50;
  color: white;
  padding-bottom: 200px; }
  .prices .cajas-prices:hover, .prices .cajas-prices:focus {
    margin-top: 50px;
    border: 2px solid orange;
    margin: 0 10px; }
  .prices__titulo {
    padding-top: 100px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 50px; }
  .prices__separadorCont {
    margin-bottom: 10px;
    text-align: center; }
    .prices__separadorCont--linea {
      color: white;
      text-align: center;
      margin-top: 20px;
      height: 5px;
      border: 0;
      border-top: 1px solid white; }
  .prices__texto {
    text-align: center; }

.cajas-prices {
  background-color: #2c3e50;
  text-align: center;
  margin-top: 20px;
  height: 500px;
  border: 1px solid green; }
  .cajas-prices__azul {
    color: white;
    height: 100px; }
  .cajas-prices__verde {
    color: white;
    background-color: #27ad60;
    font-size: 25px; }
  .cajas-prices__starter {
    height: 60px;
    padding-top: 10px; }
  .cajas-prices__blanco {
    background-color: white;
    color: black; }
  .cajas-prices p {
    padding-top: 5px;
    padding-bottom: 5px; }
  .cajas-prices__button {
    background-color: #8f5f38;
    text-align: center;
    padding: 15px;
    margin-top: 50px; }
    .cajas-prices__button:hover {
      background-color: #2c3e50;
      padding-top: 10px; }

.parrafos, .formulario {
  background-color: #2C3E50;
  padding-top: 20px; }

.parrafos_texto {
  font-size: 2vh;
  margin-bottom: 30px; }

.parrafos_texto--amarillo {
  color: orange; }

.datos {
  padding: 5px; }

.datos_input {
  width: 100%;
  margin: 10px;
  height: 30px;
  border-radius: 5px; }

.datos_input--textarea {
  height: 50px; }

.boton {
  width: 100px;
  height: 50px;
  background-color: #8f5f38;
  border: none;
  margin: 20px; }

/*INICIO COLORES KARLA*/
.colors {
  /* CSS declarations for `.block` */ }
  .colors__h2 {
    /* CSS declarations for `.block__element` */
    font: "Roboto", sans-serif;
    text-align: center;
    font-size: 3em;
    color: black;
    font-family: "Roboto", sans-serif; }
  .colors__div-colores {
    /* CSS declarations for `.block__element` */
    width: 150px;
    height: 150px; }
  .colors--colores {
    /* CSS declarations for `.block--modifier` */ }
    .colors--colores__uno {
      /* CSS declarations for `.block--modifier__element` */
      background: #69d2e7; }
    .colors--colores__dos {
      /* CSS declarations for `.block--modifier__element` */
      background: #a7dbdb; }
    .colors--colores__tres {
      /* CSS declarations for `.block--modifier__element` */
      background: #e0e4cc; }
    .colors--colores__cuatro {
      /* CSS declarations for `.block--modifier__element` */
      background: #f38630; }
    .colors--colores__cinco {
      /* CSS declarations for `.block--modifier__element` */
      background: #fa6962; }
    .colors--colores__seis {
      /* CSS declarations for `.block--modifier__element` */
      background: #e94c6f; }
    .colors--colores__siete {
      /* CSS declarations for `.block--modifier__element` */
      background: #542733; }
    .colors--colores__ocho {
      /* CSS declarations for `.block--modifier__element` */
      background: #5a6a62; }
    .colors--colores__nueve {
      /* CSS declarations for `.block--modifier__element` */
      background: #c6d5d7; }
    .colors--colores__diez {
      /* CSS declarations for `.block--modifier__element` */
      background: #fdf200; }
    .colors--colores__once {
      /* CSS declarations for `.block--modifier__element` */
      background: #db3340; }
    .colors--colores__doce {
      /* CSS declarations for `.block--modifier__element` */
      background: #e8b71a; }
    .colors--colores__trece {
      /* CSS declarations for `.block--modifier__element` */
      background: #f7eac8; }
    .colors--colores__catorce {
      /* CSS declarations for `.block--modifier__element` */
      background: #f7eac8; }
    .colors--colores__quince {
      /* CSS declarations for `.block--modifier__element` */
      background: #1fda94; }
    .colors--colores__diciseis {
      /* CSS declarations for `.block--modifier__element` */
      background: #28abe3; }
    .colors--colores__diecisiete {
      /* CSS declarations for `.block--modifier__element` */
      background: #588c73; }
    .colors--colores__dieciocho {
      /* CSS declarations for `.block--modifier__element` */
      background: #f2e394; }
    .colors--colores__diecinueve {
      /* CSS declarations for `.block--modifier__element` */
      background: #f2ae72; }
    .colors--colores__veinte {
      /* CSS declarations for `.block--modifier__element` */
      background: #8ca6a6; }
    .colors--colores__veintiuno {
      /* CSS declarations for `.block--modifier__element` */
      background: #d0c91f; }
    .colors--colores__veintidos {
      /* CSS declarations for `.block--modifier__element` */
      background: #85c4b9; }
    .colors--colores__veintitres {
      /* CSS declarations for `.block--modifier__element` */
      background: #008bba; }
    .colors--colores__veinticuatro {
      /* CSS declarations for `.block--modifier__element` */
      background: #df5157; }
    .colors--colores__veinticinco {
      /* CSS declarations for `.block--modifier__element` */
      background: #dc403b; }

.color-div#69d2e7 {
  background-color: rgba(105, 210, 231, 0.6); }

.color-div#a7dbdb {
  background-color: rgba(167, 219, 219, 0.6); }

.color-div#e0e4cc {
  background-color: rgba(224, 228, 204, 0.6); }

.color-div#f38630 {
  background-color: rgba(243, 134, 48, 0.6); }

.color-div#fa6962 {
  background-color: rgba(250, 105, 98, 0.6); }

.color-div#e94c6f {
  background-color: rgba(233, 76, 111, 0.6); }

.color-div#542733 {
  background-color: rgba(84, 39, 51, 0.6); }

.color-div#5a6a62 {
  background-color: rgba(90, 106, 98, 0.6); }

.color-div#c6d5d7 {
  background-color: rgba(198, 213, 215, 0.6); }

.color-div#fdf200 {
  background-color: rgba(253, 242, 0, 0.6); }

.color-div#db3340 {
  background-color: rgba(219, 51, 64, 0.6); }

.color-div#e8b71a {
  background-color: rgba(232, 183, 26, 0.6); }

.color-div#f7eac8 {
  background-color: rgba(247, 234, 200, 0.6); }

.color-div#1fda94 {
  background-color: rgba(31, 218, 148, 0.6); }

.color-div#28abe3 {
  background-color: rgba(40, 171, 227, 0.6); }

.color-div#588c73 {
  background-color: rgba(88, 140, 115, 0.6); }

.color-div#f2e394 {
  background-color: rgba(242, 227, 148, 0.6); }

.color-div#f2ae72 {
  background-color: rgba(242, 174, 114, 0.6); }

.color-div#8ca6a6 {
  background-color: rgba(140, 166, 166, 0.6); }

.color-div#d0c91f {
  background-color: rgba(208, 201, 31, 0.6); }

.color-div#85c4b9 {
  background-color: rgba(133, 196, 185, 0.6); }

.color-div#008bba {
  background-color: rgba(0, 139, 186, 0.6); }

.color-div#df5157 {
  background-color: rgba(223, 81, 87, 0.6); }

.color-div#dc403b {
  background-color: rgba(220, 64, 59, 0.6); }

.negro {
  color: black; }

/*FIN COLORES KARLA*/

/* inicio estilos erandy */
.fondo {
  background-color: #27ad60;
  text-align: center; }

.fondo__h2--titulo {
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 8vh; }

.fondo__hr {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 5px;
  border: 0;
  border-top: 1px solid white; }

.fondo__h3 {
  display: inline-block;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-size: 4vh; }

.fondo__parrafo {
  display: inline-block;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  width: 100%;
  font-size: 2vh; }

.boton-hire {
  background-color: #443e44;
  height: 60px;
  width: 15%;
  margin-bottom: 20px; }

.boton-hire__enlace {
  text-decoration-line: none;
  color: white; }

.imagen-radio {
  border-radius: 50%; }

/* fin estilos erandy */

/*# sourceMappingURL=style.css.map */
