body{
    font-family:'Raleway', sans-serif;
    color: white;
}

.titulo{
  font-size: 8vh;
}

.subtitulo{
  font-size: 4vh;  
}

.texto{
  font-size: 2vh;  
}

.centerFlex{
    justify-content: center;
}

.centerGrid{
    text-align: center;
}