/*aqui empieza seccion Silvana*/
.seccion1{
  background-image: url(../img/carousel-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.seccion7{
  background-image: url(../img/img-divider-img.jpg);
  background-position: bottom;
}

/*aqui termina seccion Silvana*/
