@import 'grid';
@import 'mixin';
@import 'variables';
@import 'about-us';
@import 'comun';
<<<<<<< HEAD
<<<<<<< HEAD
@import 'prices';

$font-family-prices:'Roboto', sans-serif;
$centrado:center;
$color-fondo-azulmarino:#2c3e50;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.prices{
    background-color:$color-fondo-azulmarino; 
    color:white;
    &__titulo{
        @include padding-top(100px);
        @include titulo; 
        @include font-size(50px);
    }
    &__separadorCont{
        @include margin-botton(10px);
        text-align: $centrado;
        &--linea{
            @include linea;
        }
    }
    &__texto{
            text-align: $centrado;
        }
      }

=======
@import "formulario";

>>>>>>> 54f317d8dab3cd258ebe27217fde10217c1db2ed
=======
@import "formulario";

>>>>>>> 54f317d8dab3cd258ebe27217fde10217c1db2ed
